.background {     
    position: relative;
}

.foreground{  
    top: 115px;
    left: 30px;
    position: absolute;
}

.background:hover~ .foreground{
    transition: linear 1s;
    top: 115px;
    left: 100px;
    position: absolute;
}