.background {     
    position: relative;
}

.foreground{  
    top: 110px;
    left: 25px;
    position: absolute;
}

.background:hover~ .foreground{
    transition: linear 1s;
    top: 110px;
    left: 95px;
    position: absolute;
}