.background {     
    position: relative;
}

.foreground{  
    top: 125px;
    left: 25px;
    position: absolute;
}

.background:hover~ .foreground{
    transition: linear 1s;
    top: 125px;
    left: 95px;
    position: absolute;
}

.lang{
    padding: 0;
    border: none;
    background: none;
}